<!DOCTYPE html>
<html>

<head>
  <title>Review List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <div class="col-sm-5 m-5">
  <div style="overflow-x:auto;">
    <h1 class = "title"><%= name[0].name%></h1>
    <table id="rev" class="table table-striped table-hover";>
      <tr>
        <th>Reviews</th>
      </tr>
       <% 
      reviews.forEach(review => {
        %>
        <tr>
          <td>
            <%= review.review %>
          </td>
        </tr>
        <% 
          }); 
        %>
    </table>
  </div>
  <div>
    <form action="/addreview" method="POST">
    <hr>
      <h4>Please leave your review</h4>
      <input type="text" class="invisible" name="poi_id" id="poi_id" value="<%=id%>"/>
      <script>
        var table = document.getElementById("rev");
        var id = table.rows[1].cells[1].innerText;
        document.getElementById('poi_id').value = id;
      </script>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Enter your review" id="review" name="review"></textarea>
        <label for="floatingTextarea">Enter your review</label>
      </div>
      <br>
      <button class="btn btn-outline-info" type="submit">Add review</button>
    </form>
  </div>
  </div>

  <script>
//   fetch('/addreview/${id}')
//     .then(response => {
//     return response.json( );
//   })
//     .then(result => {
//     console.log(result);
// </script>

</body>

</html>